.pagination {
  margin-top: 30px;
  background: tomato;
}

.pagination__container {
  display: flex;
  justify-content: space-between;
}

.pagination__button {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #121212;
  border: none;
  background: none;
  cursor: pointer;
}